// Bootstrap lib
// @import "~bootstrap/scss/bootstrap-flex";

// @import "~material-design-lite/src/material-design-lite";

.demo-layout-transparent {
  background: url('https://getmdl.io/assets/demos/transparent.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}

app-detail {
  display: flex;
  justify-content: center;
  padding: 5em;

}

.fem-card.mdl-card {
  background: rgba(255, 255, 255, 0.43);
  .mdl-card__media {
    display: flex;
    justify-content: center;
    background-color: unset;
    padding: 1em;
  }
}
