// Bootstrap lib
// @import "~bootstrap/scss/bootstrap-flex";

// @import "~material-design-lite/src/material-design-lite";

.demo-layout-transparent {
  background: url('https://getmdl.io/assets/demos/transparent.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}

.mdl-navigation__link {
  cursor: pointer;
}

app-detail {
  display: flex;
  justify-content: center;
  padding: 5em;
  h1 {
    font-size: 6em;
    color: white;
  }
  .fem-card.mdl-card {
    background: rgba(255, 255, 255, 0.43);
    .mdl-card__media {
      display: flex;
      justify-content: center;
      background-color: unset;
      padding: 1em;
    }
    .mdl-card__title {
      display: flex;
      align-self: center;
    }
    .mdl-card__supporting-text {
      text-align: center;
      .label {
        font-size: 1em;
      }
      .text {
        color: black;
        font-size: 1.2em;
      }
    }
  }

}
